/* Global ===================== */
  
:root {
  --header-and-footer: #8acc9b;
  --main-menu-and-lines: #cc3300;
  --col-texts: #cc3300;
  --col-backgrounds: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
}

html {
  font-size: 93.75%; /* 15px */
  font-family: sans-serif;
  color: #ffffff;
}

body {
  display: grid;
  grid-template-areas:
  "header header header"
  "menu menu menu"
  "nav main aside"
  "footer footer footer";
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 12vh 7vh 71vh 10vh;
}

/* Header ===================== */

.header-grid {
  grid-area: header;
  background-color: var(--header-and-footer);
  text-align: center;
  display: grid;
  align-items: center;
}

.main-nav-grid {
  grid-area: menu;
  background-color: var(--main-menu-and-lines);
}

.col-nav-grid {
  grid-area: nav;
  background-color: var(--col-backgrounds);
  color: var(--col-texts);
  border-right: dotted 2px;
  border-color: var(--main-menu-and-lines);
}

.main-col-grid {
  grid-area: main;
  background-color: var(--col-backgrounds);
  color: var(--col-texts);  
}

.aside-col-grid {
  grid-area: aside;
  background-color: var(--col-backgrounds);
  color: var(--col-texts);
  border-left: dotted 2px;
  border-color: var(--main-menu-and-lines);
}

.footer-grid {
  grid-area: footer;
  background-color: var(--header-and-footer);
  color: black;
  border-top: solid 2px;
  border-color: var(--main-menu-and-lines);
  text-align: center;
  display: grid;
  align-items: center;
}
