/* Global ===================== */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
}

html {
  font-size: 93.75%; /* 15px */
}

body {
  display: grid;
  grid-template-areas:
  "header header header"
  "menu menu menu"
  "nav main aside"
  "footer footer footer";
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 12vh 7vh 71vh 10vh;
  background-color: yellow;
}

/* Header ===================== */

.header-grid {
  grid-area: header;
  background-color: red;
}

.main-nav-grid {
  grid-area: menu;
  background-color: blue;
}

.col-nav-grid {
  grid-area: nav;
  background-color: orange;
}

.main-col-grid {
  grid-area: main;
  background-color: green;
}

.aside-col-grid {
  grid-area: aside;
  background-color: magenta;
}

.footer-grid {
  grid-area: footer;
  background-color: navy;
}
